#* @vtlvariable name="baseUrl" type="java.lang.String" *#
<html>
<head>
    <title>$i18n.getText("xproduct.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    $webResourceManager.requireResource("com.flock.app.confluence:resources")
</head>
<body>
<form id="admin" class="aui" action="./flock-settings" method="post">
    <div class="field-group">
        <label for="name">$i18n.getText("xproduct.admin.webhookurl.label")</label>
        <input type="text" id="baseUrl" name="baseUrl" value="$!{baseUrl}" class="text">
    </div>
    <div class="field-group">
        <input type="submit" value="$i18n.getText("xproduct.admin.save.label")" class="button">
    </div>
</form>
</body>
</html>